body {
  background-color: lightblue;

  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  
  background-size: 50px 50px;
}

#taskbar {
    display: flex;
    flex-direction: row;
    gap: 15px;

    position: relative;

    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(0, 171, 228);

    height: 50px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);

    justify-content: center;
    align-items: center;
}

.codearea {
    display: inline-block;
    position: relative;
}

#linenumbers {
    position: absolute;

    top: 52px;
    left: 293px;

    width: 30px;
    height: 502px;

    text-align: center;

    background-color: white;

    border-radius: 6px;

    padding-right: 5px;

    overflow: hidden;
}

#linenumbers p {
    margin: 0;
    line-height: 25px;
}

#code {
    display: inline-block;

    vertical-align: top;

    position: absolute;

    background-color: white;

    height: 500px;
    width: 400px;

    border: 1px solid black;
    border-radius: 6px;

    font-size: 16px;

    margin-top: 50px;
    margin-left: 343px;

    align-items: center;

    resize: none;

    line-height: 25px;
}

#runcodebutton {
    margin-top: 560px;
    margin-left: 343px;

    background-color: rgb(0, 171, 228);

    color: white;

    border: 1px solid black;
    border-radius: 6px;

    width: 406px;
    height: 40px;

    font-size: medium;

    cursor: pointer;
}

#btn-icon {
    width: 20px;  
    height: 20px;
    
    display: inline-block; 
    flex-shrink: 0;
    
    fill: currentColor;

    filter: invert(100%)
}

#codeoutput {
    margin-top: -530px;
    margin-left: 843px;

    position: absolute;

    width: 400px;
    height: 500px;

    background-color: white;

    color: black;

    border: 1px solid black;
    border-radius: 6px;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    
    column-gap: 20px; 
    align-content: start;
    
    text-align: center;
}

#codeoutput p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-bottom: 1px solid black; 
}

#codeoutput h4 {
    padding-right: 3px;
}

#codeoutput::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    
    left: 50%; 
    
    border-left: 1px solid black; 
    
    pointer-events: none; 
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

#screen {
    display: none;
    grid-template-columns: repeat(128, 1fr);
    grid-template-rows: repeat(128, 1fr);

    position: absolute;

    width: 500px;
    height: 500px;

    border: 2px solid black;
}

.pixel {
    background-color: black;
}

#referencetable table {
    background-color: white;

    margin-top: 50px;
    margin-left: 142.5px;

    border: 5px solid rgb(0, 171, 228);

    padding: 7px;
}

#referencetable th{
    border: 1px solid rgb(0, 171, 228);

    padding: 7px;
}

#referencetable td {
    border: 1px solid rgb(0, 171, 228);

    padding: 7px;
}

#arithmetictable table {
    background-color: white;

    margin-top: 50px;
    margin-left: 492.5px;

    border: 5px solid rgb(0, 171, 228);

    padding: 7px;
}

#arithmetictable th{
    border: 1px solid rgb(0, 171, 228);

    padding: 7px;
}

#arithmetictable td {
    border: 1px solid rgb(0, 171, 228);

    padding: 7px;
}

a {
    text-decoration: none;
    color: white;
}

#home {
    margin-right: 900px;
}

#hometext {
    color: white;
}

#extra_pages {
    display: flex;
    flex-direction: row;
}

#pgtitle {
    font-size: large;
    padding-left: 30px;
    text-decoration: underline;
}

#examplecodeinfo {
    text-align: center;
}